<div class="login">
  <form (ngSubmit)="onSubmit()">
    <h2>Login Form</h2>
    <div class="imgcontainer">
      <img src="../../../../assets/images/login.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="empName" name="empName" required id="name"
        name="name" class="form-control" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

        <div *ngIf="name.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors?.['forbiddenName']">
          Name cannot be Bob.
        </div>

      </div>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" id="password"
        class="form-control" required #psw="ngModel">
      <div *ngIf="psw.invalid && (psw.dirty || psw.touched)" class="alert">

        <div *ngIf="psw.errors?.['required']">
          password is required.
        </div>
        <div *ngIf="psw.errors?.['minlength']">
          password must be at least 4 characters long.
        </div>
      </div>
      <button type="submit">Login</button>
      <span>not Signup yet.....! <a [routerLink]="'../signup'">signup here</a></span>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>