<app-header></app-header>
<div class="container">

<div style="width: 400px;">
  <h3>Update Employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="empName" required [(ngModel)]="employee.empName" name="empName">
    </div>

    <div class="form-group">
      <label for="name">Department Name</label>
      <input type="text" class="form-control" id="departmentName" required [(ngModel)]="employee.department.deptId" name="departmentName">
    </div>

    <div class="form-group">
      <label for="name">Role Name</label>
      <input type="text" class="form-control" id="roleName" required [(ngModel)]="employee.role.roleid" name="roleName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div>
  <img [src]="retrievedImage" alt="image loading">

  <div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
    </div>
    
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

</div>

</div>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved </span>
    </div>
  </footer>