
h2{
    text-align: center;
    color: #0A4D68;
    
}
form {border: 3px solid #f1f1f1;}

.alert{
  color: red;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #E11299;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.login{
    height: 400px;
    width: 400px;
    margin: 50px auto;
}
.imgcontainer {
  text-align: center;
  margin:auto;
  height: 100px;
  width: 200px;
}

img.avatar {
    width: 70%;
    border-radius: 10%;
    height: 130%;
}

.container {
  padding: 16px;
  margin-top: 80px;
}
img{
  height: 100px;
  width: 100px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}